<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div id="Selva">

        <h2>Haga su propia Selva</h2>
        <br>
        <br>

        <table border="2px" width="100%">
          <tr>
            <td width="20%">
              <div>
                    <input type=image src="assets/Vaca.jpg" width ="100%" height ="100%" ng-click="Vaca()">
                    <!-- <div ng-click="Acciones()" type=image width ="500px" height ="500px" src="img/perry.png"></div> -->
               </div>
            </td>

            <td width="20%">
              <div>
   
                  <input type=image src="assets/Grillo.jpg" width ="100%" height ="100%" ng-click="Grillo()">
                  <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      

              </div> 
            </td>

             <td width="20%">
              <div>
     
                  <input type=image src="assets/Cardenal.jpg" width ="100%" height ="100%" ng-click="Cardenal()">
                   <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      
            
              </div> 
            </td>

            <td width="20%">
              <div>
             
                  <input type=image src="assets/Oveja.jpg" width ="100%" height ="100%" ng-click="Oveja()">
                  <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      
           
              </div> 
            </td>

          </tr>    
      </table>           
    </div>
</ion-content>
